.imageComponents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center; /* Optional: Center images horizontally */
    align-items: center; /* Optional: Center images vertically */
    min-height: 100vh;
    margin: 0;
  }
  
  .image01 img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: block;
  }

  .imageComponents2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center; /* Optional: Center images horizontally */
    align-items: center; /* Optional: Center images vertically */
    min-height: 100vh;
    margin: 0;
  }


.modal img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}

.modal span{
    z-index: 999;
    font-size: 9rem;
}